<div class="row milieu">
<div class="col-lg-offset-1 col-lg-10 center">
  <h3 class="blackFont">DUT Informatique (IUT Aix-en-Provence)</h3>
  <img src="images/iut.png" alt="iut aix en provences">
  <p class="blueFont justify">{{descriptionIut}}</p>
</div>
  <div class="col-lg-offset-1 col-lg-10 center">
  <h3 class="blackFont">Ingénieur Informatique (Polytech Nice Sophia)</h3>
  <img src="images/polytech.png" alt="iut aix en provences">
  <p class="blueFont justify">{{descriptionPoly}}</p>
</div>
</div>
